/* Universal styles */
body{
  /* need general colour */
  background-color: rgba(251, 251, 251, 0.897);
  font: 16px/1.6 Roboto,Helvetica,sans-serif;
  font-weight:300;
}

a {
  text-decoration: none !important;
  /* experimenting with colour */
  /* color: #FFFFFF; */
  color: black;
}

.site-sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: left;
  background-color: rgba(145,13,13,.8);
}

.site-sidebar .person {
  text-align: center;
}

.site-sidebar .site-sidebar-inner {
  /* padding: 45px 40px; */
  position: relative;
  height: 100%;
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; */
}

.site-main {
  margin-left: 25%;
}
.site-main::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    background: url('https://images.unsplash.com/photo-1604644799578-2ff290e38029?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') top center no-repeat #bababa;
    background-size: cover;
}

.home-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url('https://images.unsplash.com/photo-1545469044-68715f789051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') top center no-repeat #bababa;
  background-size: cover;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
}

.home-section .home-section-inner {
  max-width: 840px;
  margin-left: 25%;
}

.avatar {
  max-width: 152px;
  padding-bottom: 1rem;
}

.portfolio-timeline .project-image img, .portfolio-timeline .project-image video {
  width: 100%;
  max-height: 500px;
}

.main-navigation, .block-title {  
  text-align: left;
  text-transform: uppercase;
  line-height: 2.5em;

  margin-bottom: 1rem;
  font-size: 1rem;
}
.main-navigation {
  /* =========== confirm this horz margin========================= */
  margin: 45px 0px;
  font-size: 14px;
  line-height: 3rem;
  position: relative;
}
.person .person-content .person-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.person .person-content .person-subtitle {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.site-sidebar .nav-extend-bar i,
.site-sidebar .block-social i {
  font-size: 22px;
}
/* == End of universal == */

/* Large devices (desktops, 949px and below)*/
@media only screen and (max-width: 949px){
  .parent-home .site-main::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    background-position: right top;
  }
  .parent-portfolio .site-main::before,
  .parent-contact .site-main::before {
    display: none;
  }

  .site-main {
    margin-left: 0;
  }

  .site-main::before {
    content: "";
    display: block;
    background-image: url('https://images.unsplash.com/photo-1604644799578-2ff290e38029?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') top center no-repeat;
    background-size: cover;
    color: black;
  }
  .site-sidebar {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    /* below keeps the bar flush to the top of screen when in mobile*/
    /* padding-top: 40px; */
    padding-bottom: 0;
  }

  /* below hides the person info on small screens across all pages */
  .parent-contact .site-sidebar .person,
  .parent-portfolio .site-sidebar .person,
  .parent-home .site-sidebar .person {
    display: none;
  }

  .home-section {
    position: relative;
    /* below hidess the desktop image on mobile devices */
    background: 0 0;
    font-size: 10px;
    padding: 4rem 2rem;
  }
  .home-section .home-section-inner{
    margin: 0;
  }

  .main-navigation {
    padding-top: 1rem;
    text-align: right;
    display: block;
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid azure; */
    border: 1px solid rgba(255,255,255,.2);
    border-width: 1px 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 3.5rem;

    /* THIS MARGIN CAUSES WHITESPACE if .site-sidebar-inner padding top is removed. */
    margin: 0 1rem;
  } 

  .main-navigation .nav-extend-bar .social-icons {    
    float: left;
  }

  /* probable name change below */
  .hamburger {
    width: 50%;
  }
  .block-social {
    display: none;
  }

}

/* Extra large devices (large desktops, 950px and up)*/
@media only screen and (min-width: 950px){
  .home-section {
    background: url('https://images.unsplash.com/photo-1545469044-68715f789051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80' ) top center no-repeat #bababa;
  }
  .site-sidebar .site-sidebar-inner {
  padding: 45px 40px;
  }


  /* below hides the navigation extendabl;;e bar on larger screens */
  .parent-contact .nav-extend-bar,
  .parent-portfolio .nav-extend-bar,
  .parent-home .nav-extend-bar {
    display: none;
  }
}