/*universal styles*/
body{
  background-color: pink;
  font: 16px/1.6 Roboto,Helvetica,sans-serif;
  font-weight:300;
}

.wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(125, 228, 228);
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  mix-blend-mode: color; /*difference; - another really cool effect*/
}
.wrapper > * {
  position: relative;
  z-index: 1;
  color: azure;
}
.wrapper {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1545469044-68715f789051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  /* height: 100%; */
  padding: 43.75vh 0;
  /* max-width: 100%; */
}
/*bootstrap styles */

/* Navbar styles */
.site-main::before{
  position: fixed;
  top:0;
  left:0;
  display: block;
  content:"";
  /* background-image: ; */
  background:url('resources/images/vancouverReflection.jpg') top center cover;
  width:25%;
}

.site-main {
  margin-left: 25%;
}

.site-main-inner, .page-title{  
  padding: 40px 45px;
  text-align: left;
}
/* .home-section {
  position: relative;
  
} */

.site-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: chartreuse;
  opacity: 0.4;
  width: 25%;
  padding: 45px, 40px;
}
.site-sidebar-inner {
  padding: 45px 40px;
  height: 100%;
  /* padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px; */
  color: black;
}
.avatar {
  max-width: 152px;
}

.main-navigation, .block-title {
  text-align: left;
  text-transform: uppercase;
  line-height: 2.5em;
}

.home-section-inner {
  text-align: left;
  padding-left: 35%;
}
/* footer styles */

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) { ... }
